@{
    ViewBag.Title = "SignalR Sandpit Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menuOptions {
    <ul class="nav navbar-nav">
        <li><a href="/home/chat">Chat Example</a></li>
        <li><a href="/home/moveshape">Move Shape Example</a></li>
        <li><a href="/home/stockticker">Stock Ticker Example</a></li>
    </ul>
}
    <div class="container">
      <div class="jumbotron">
        <h1>SignalR Demo</h1>
        <p>Please select a demo from the header above.</p>
      </div>
    </div> 

