<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="twitterConsumerKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
        <add key="twitterConsumerSecret" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
        <add key="twitterAccessToken" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
        <add key="twitterAccessTokenSecret" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
        <!-- 
        Harrogate "53.9910,-1.5390,50km";
        Leeds "53.7997,-1.5492,50km";
        -->
        <add key="geoCode" value="53.7997,-1.5492,50km" /> 
    </appSettings>
    
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
