<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Fill in your consumer key and secret here to make the OAuth sample work.  -->
        <!-- Twitter sign-up: https://dev.twitter.com/ -->
        <add key="twitterConsumerKey" value="4lX0AwpYwnI6rIS8Sp7ig" />
        <add key="twitterConsumerSecret" value="FsS3lDMeDuIiUdHPFCLig1aBIrG8vbcNRQZLHlXP5cE" />
        <add key="twitterAccessToken" value="20361983-pXdP97FXts8jCpaMwGc5EDkSBSW2BgN0XQGf9xggO" />
        <add key="twitterAccessTokenSecret" value="3rhz1sqmv8S74GSvLqcxU2vs1eFbDKRKRo1nv7yfI" />
    </appSettings>
    
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
